
/* reset margin, padding */
body{
    margin : 0 !important;
    padding : 0!important;

}
.red{
    border: 1px solid red;
}
.green{
    border:1px solid green;
}

.banner {
    padding: 20px;
    height: 100vh;
    background: url('./image/banner-mobile.jpg') no-repeat center center;
    background-size: cover;
}

.about-sig-in {
    height: 80px;
    /* margin-top: 50px; */
    width: 100%;
    text-align: right;

}
.about, .sign-in {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}
.sign-in{
    margin-right: 60px;
    margin-left: 25px;
    border: 1px solid green;
    border-radius: 20px;
    color: green;
}
.logo{
    background: url('./image/hapoERP.png') center center no-repeat;
    margin-top: 40px;
    height: 100px;
}
.text{
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}
.btn-start-now{
    text-align: center;
}
.banner .btn-start-now button{
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 20px;
    border: 1px solid green;
    margin-top: 20px;
    cursor: pointer;
}

.left, .right, .center{
    width:33%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
span{
    display:block;

}
img{
    width: 30px;
    height: 30px;
}

